<h3>Όλες οι λέξεις</h3>

<p-table [value]="words" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Σωστή Λέξη</th>
            <th>Extra Πληροφορία</th>
            <th>Λάθος Επιλογές</th>
            <th>Έχει Εγκριθεί</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-word>
        <tr>
            <td>{{word.correctWord}}</td>
            <td>{{word.extraInfo}}</td>
            <td>{{word.wrongWords}}</td>
            <td>{{word.approved}}</td>
        </tr>
    </ng-template>
</p-table>